{% extends 'main/base.html' %}

{% block content %}
    <table id="table_id" class="display nowrap">
        <thead>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>Product Category</th>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready( function () {
            $('#table_id').DataTable( {
                processing: true,
                serverSide: true,
                order: [0, 'desc'],
                'search': {
                    'regex': true,
                    'smart': true,
                    'caseInsen': false
                },
                order: [[0, 'desc']],
                ajax:{
                    'url': '/products'
                },
                columns: [
                    { 'data': 'title' },
                    { 'data': 'description' },
                    { 'data': 'price' },
                    { 'data': 'image' },
                    { 'data': 'product_category' }
                ]
            })
        } );
    </script>
{% endblock %}
