<html>
    <head>
        <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"> -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> -->
    </head>
    <body>
        <!-- <input name="dates"> -->
        <div id="daterange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 25%">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span>
            <i class="fa fa-caret-down"></i>
        </div>
        <script>
            $(function () {
                var start = moment();
                var end = moment().add(1,"days");
                console.log(start._d)
                // function DataRangePicker(start, end) {
                //     $('#daterange').daterangepicker({
                //         // showCustomRangeLabel: true,
                //         // alwaysShowCalenders: true,
                //         // autoUpdateInput: true,
                //         // startDate: start,
                //         // endDate: end,
                //         // ranges: {
                //         //     'Today': [moment(), moment().add(1, 'days')],
                //         //     'Yesterday': [moment().subtract(1, 'days'), moment()],
                //         //     'This Week': [moment().startOf('week'), moment().endOf('week')],
                //         //     'Last Week': [moment().subtract(1, 'week').startOf('week'), moment().subtract(1, 'week').endOf('week')],
                //         //     'Previous 7 Days': [moment().subtract(7, 'days'), moment().subtract(1, 'days')],
                //         //     'This Month': [moment().startOf('month'), moment().endOf('month')],
                //         //     'This Month by Week': [moment().startOf('month').startOf('week'), moment().endOf('month').endOf('week')],
                //         //     'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                //         //     'Previous 30 Days': [moment().subtract(30, 'days'), moment().subtract(1, 'days')],
                //         //     'Previous 3 Months': [moment().subtract(3, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                //         //     '<hr>':[],
                //         //     'Day': [moment(start), moment(start).add(1, 'days')],
                //         //     'Week': [moment(start).startOf('week'), moment(start).endOf('week')],
                //         //     'Month': [moment(start).startOf('month'), moment(start).endOf('month')],
                //         //     'Month by Week': [moment(start).startOf('month').startOf('week'), moment(start).endOf('month').endOf('week')],
                //         // }       
                //     });
                // }
                // // function cb(start, end) {
                // //     $('#daterange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                // //     DataRangePicker(start, end);
                // // }
                // // cb(start, end);
            });
        </script>
    </body>
</html>
