{% extends 'main/base.html' %}

{% block content %}
    <select data-placeholder="Select Options" id="mySelect2" class=".js-example-basic-multiple-limit" multiple>
        <option class="select_option" value="selectall">Select All</option>
        {% for product in products %}
            <option class="product" value="{{product.id}}">{{product.title}},{{product.product_category}}</option>
        {% endfor %}
    </select>
    <select data-placeholder="Select Options" id="category" class=".js-example-basic-multiple-limit" multiple>
        <option class="select_option" value="selectall">Select All</option>
        {% for category in categories %}
            <option class="product" value="{{category}}">{{category}}</option>
        {% endfor %}
    </select>
    <script>
        $(document).ready(function() {
            $('#mySelect2').select2();
        });
        $('#mySelect2').change(function(){
            $.ajax({
                type: 'POST',
                url: '/random/',
                data: {value:$('#mySelect2').val()},
                success: function(value){
                    if (value[0] == 'selectall'){
                        var elements = $('.product');
                        $('#mySelect2').empty();
                        $('#mySelect2').append('<option class="product" selected value="'+ // next line
                        elements.length +'">'+ elements.length + ' options selected</option>');
                    }
                }
            })
        });
    </script>
{% endblock %}
