{% extends 'main/base.html' %}

{% block content %}
<header>
    <script>
        $('document').ready(function(e) {
            $(".loader").fadeOut("slow");
        });
    </script>
    <style>
        .loader{ position: fixed;left: 0px;top: 0px;width:100%;height:100%;z-index: 9999;background: url(images/pageLoader.gif) 50% 50% no-repeat rgb(249,249,249);}
    </style>
</header>
<select data-placeholder="Select Options" id="categories" multiple>
    <option class="select_option" value="selectall">Select All</option>
    {% for category in categories %}
    <option class="categories" value="{{category}}">{{category}}</option>
    {% endfor %}
</select>
<select data-placeholder="Select Options" id="products" multiple>
</select>
<select data-placeholder="Select Options" id="product_detail" multiple>
</select>

<script>
    $(document).ready(function () {
        $('#categories').select2();
    });

    $('#categories').change(function () {
        $.ajax({
            type: 'POST',
            url: '/random/',
            data: { categories: $('#categories').val() },
            success: function (product_titles) {
                if (product_titles == 0) {
                    $('#products').empty();
                }
                else {
                    $('#products').empty();
                    for (let i = 0; i < product_titles.length; i++) {
                        $('#products').append('<option>' + product_titles[i] + '</option>');
                        $(document).ready(function () {
                            $('#products').select2();
                        });
                        $('#products').change(function () {
                            $.ajax({
                                type: 'POST',
                                url: '/random/',
                                data: { products: $('#products').val() },
                                success: function (product_details) {
                                    if (product_details == 0) {
                                        $('#product_detail').empty();
                                    }
                                    else {
                                        $('#product_detail').empty();
                                        $(document).ready(function () {
                                            $('#product_detail').select2();
                                        });
                                        for (let i = 0; i < product_details.length; i++) {
                                            $('#product_detail').append('<option>' + product_details[i] + '</option>');
                                        }
                                    }
                                }
                            })
                        })
                    }
                }
            }
        })
    });
</script>
{% endblock %}
