<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Shop-Mania</title>
        <!-- jQuery library -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- JS & CSS library of MultiSelect plugin -->
        <link href="/jquery/css/jquery.multiselect.css">
        <!-- select2 css -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <!-- JS & CSS library of MultiSelect plugin -->
        <script type="text/javascript" src="/jquery/js/jquery.multiselect.js"></script>
        <!-- select2 js -->
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
       
        

    </head>
    <body>
        <select id="mySelect2" class=".js-example-basic-multiple-limit" multiple>
            <option value="1">volvo</option>
            <option value="2">car</option>
            <option value="3">truck</option>
            <option value="4">bus</option>
            <option value="5">train</option>
            <option value="selectall">Select All</option>
        </select>
        <button id="button">submit</button>
        <script>
            $(document).ready(function() {
                $('#mySelect2').multiselect();
            });
            $('#button').click(function(){
                //var output = $('option').attr('value');
                var output = $('#mySelect2').val();
                if (output[0] == 'selectall'){
                    var elements = $('#myselect2').find('option');
                } 
                console.log('output', output[0])
            });
        </script>
    </body>
</html>