{% extends 'main/base.html' %}

{% block content %}
    <!-- messages -->
    <div id="product" class="">
        {{ message }}
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item in products %}
            <div class="col">
                <div class="card">
                    <img src="/media/{{item.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <p class="card-text"><strong>Rs. {{item.price}}</strong></p>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-outline-dark" type="button" onclick="loadDoc('{{item.id}}')">Add to my collection</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <script>
            function loadDoc(id) {
                const xhttp = new XMLHttpRequest();
                xhttp.onload = function() {
                    var response = JSON.parse(xhttp.responseText)
                    document.getElementById("product").innerHTML = response.message;
                    document.getElementById("product").className = "messages "+response.type +" alert alert-"+response.type;
                }
                var url = "/add_collections?id="+id+"&page=electronics"
                xhttp.open("GET",url);
                xhttp.send();
            }
        </script>
    </div>
{% endblock %}
