{% extends 'main/base.html' %}

{% block content %}
    <!-- messages -->
    <div id="product" class="">
        {{ message }}
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item in products %}
            <div class="col">
                <div class="card">
                    <img src="/media/{{item.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <p class="card-text"><strong>Rs. {{item.price}}</strong></p>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-outline-dark" type="button" onclick="loadDoc('{{item.id}}')">Add to my collection</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <script>
            $('a').click(function(){
            $.get("/add_collections/",{id: this.id},
                function(data){
                    $('#product').attr('class', "messages "+data.type +" alert alert-"+data.type)
                    $('#product').html(data.message)
                }
            );
        });
        </script>
    </div>
{% endblock %}
