{% extends 'accounts/base.html' %}

{% block content %}
        <!--Password reset sent-->
        <div class="container p-5">
            <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
            <p>Please enter your new password.</p>
            <form method="POST">
                {% csrf_token %}
                {{ form}}                    
                <button class="btn btn-outline-dark" type="submit">Reset password</button>
            </form>
        </div>
{% endblock %}
