{% extends 'main/base.html' %}

{% block content %}
<!-- profile code -->
<div class="container">
  <div class="row">
      <div class="col-3">
          <div class="card" style="width: 18rem;">
              <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80" class="card-img-top" alt="profile pic">
              <div class="card-body">
                  <h5 class="card-title">{{fullname}}</h5>
              </div>
          </div>
      </div>
      <div class="col-8">
          <p>{{dataset.name.bio}}</p>
      </div>
      <div class="col-1">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Edit
            </button>
            
            <div class="dropdown-menu">
              <div class="btn-group dropstart">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropstart
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Menu item</a></li>
                  <li><a class="dropdown-item" href="#">Menu item</a></li>
                  <li><a class="dropdown-item" href="#">Menu item</a></li>
                </ul>
              </div>

              <li class="d-grid btn-group dropstart">
                <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Address</button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Menu item</a></li>
                  <li><a class="dropdown-item" href="#">Menu item</a></li>
                  <li><a class="dropdown-item" href="#">Menu item</a></li>
                </ul>
              </li>
              <li class="d-grid"><button type="button" class="btn btn-outline-dark" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="left" data-bs-content="Left popover">Profile</button></li>
            </div>
          </div>
        </div>
      </div>
  </div>
  <hr>
  <p>
    <a class="btn btn-outline-dark mb-2" data-bs-toggle="collapse" href="#address" role="button" aria-expanded="false" aria-controls="collapseExample">
      Address
    </a>
  </p>

  <div class="collapse" id="address">
    {% if address %}
      <div class="row">
          {% for item in address %}
              <div class="col-6">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">{{item.address_type}} Address</h5>
                          <p>{{item.building}}, {{item.locality}}, {{item.sector}}, {{item.address}}, {{item.city}}, Distt: {{item.district}}, {{item.state}}, {{item.pincode}}</p>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
    {% endif %}
    <button type="button" class="btn btn-outline-dark mt-2" data-bs-toggle="modal" data-bs-target="#addressModal">
      Add Address +
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Address</h1>
              </div>
              <div class="modal-body">
                  <form method="POST">
                      {% csrf_token %}
                      {% if form.errors %}
                          <div class="error alert alert-success">
                              {{ form.errors }}
                          </div>
                      {% endif %} 
                      <!-- form with loop -->
                      {% for item in form %}           
                          <p>{{ item }}</p>                       
                      {% endfor %}
                      {% if messages %}
                          <div class="success alert alert-success">
                              {% for message in messages %}
                                  {{ message }}
                              {% endfor %}
                          </div>
                      {% endif %} 
                      <div class="modal-footer">
                          <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-outline-dark">Save</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
