{% extends 'main/base.html' %}

{% block content %}

    <div class="effect_test">
        <div class="effect">welcome</div>
        <div class="effect">to</div>
        <div class="effect">shopmania.</div>
        <div class="effect">Here</div>
        <div class="effect">is</div>
        <div class="effect">the</div>
        <div class="effect">effect</div>
        <div class="effect">of</div>
        <div class="effect">jquery</div>
        <div class="effect">font</div>
    </div>
    <button>Start Animation</button>

    <script>
        $("button").click(function(){
            do{
                $(this).animate({fontSize: '3em'}, "slow");
                $(this).animate({fontSize: '1em'}, "slow");
                console.log(this);
                }
            while ($(".effect_test").each());
            });
    </script>
  
{% endblock %}