{% extends 'main/base.html' %}

{% block content %}
<!-- profile code -->
<div class="container">
    <div class="row">
        <div class="col-11">
            <div class="card" style="width: 18rem;">
                <img src="/media/{{dataset.image}}" class="card-img-top" alt="profile pic">
                <div class="card-body">
                    <h5 class="card-title">{{dataset.name}}</h5>
                    <p>{{dataset.bio}}</p>
                </div>
            </div>
        </div>
        <!-- edit button -->
        <div class="col-1">
            <div class="dropdown">
                <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Edit
                </button>
                <ul class="dropdown-menu">
                <a class="btn btn-outline-dark" href="/edit_profile">Update Profile</a>
                <a class="btn btn-outline-dark" href="/address_details">Update Address</a>
                </ul>
            </div>
        </div>
        <!-- messages -->
        {% if messages %}
            <div class="success alert alert-success">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %} 
    </div>
    <hr>
    <!-- address code -->
    <p>
        <a class="btn btn-outline-dark mb-2" data-bs-toggle="collapse" href="#address" role="button" aria-expanded="false" aria-controls="collapseExample">
            Address
        </a>
    </p>
    <!-- address cards -->
    <div class="collapse" id="address">
        {% if address %}
            <div class="row">
                {% for item in address %}
                    <div class="col-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{item.address_type}} Address</h5>
                                <p>{{item.building}}, {{item.locality}}, {{item.sector}}, {{item.city}}, Distt: {{item.district}}, {{item.state}}, {{item.pincode}}, {{item.contact}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <button type="button" class="btn btn-outline-dark mt-2" data-bs-toggle="modal" data-bs-target="#addressModal">
            Add Address +
        </button>
    </div>
  <!-- Modal -->
  <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Address</h1>
                </div>
                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="error alert alert-success">
                                {{ form.errors }}
                            </div>
                        {% endif %} 
                        <!-- form with loop -->
                        {% for item in form %}           
                            <p>{{ item }}</p>                       
                        {% endfor %}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-outline-dark">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
